<div class="row">
    <div class="col-md-10 pull-left">
        <span class="section_title">Resume details</span>
    </div>
</div>
<div class="row">
    <div class="info-block">
        <br>
        <p>Career Summary: </p>
        <textarea type="text" class="form-control" ng-model="vm.resume.career_summary" rows="5" required> </textarea>
        <br>
        <p>Experience:</p>
        <textarea type="text" class="form-control" ng-model="vm.resume.experience" rows="5" required> </textarea>
        <br>
        <p>Education: </p>
        <textarea type="text" class="form-control" ng-model="vm.resume.education" rows="5" required> </textarea>
        <br>
        <button class="pull-right btn btn-danger mobile-buttons" ng-click="vm.openDeleteModal(candidate._id)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
        <button class="pull-right btn btn-success mobile-buttons" ng-click="vm.editResume()"> <i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
        <a ui-sref="candidates" class="pull-right btn btn-default mobile-buttons"><i class="glyphicon glyphicon-chevron-left
"></i> Back</a>
        <br>
    </div>
</div>