<div class="row">
    <div class="col-md-4 col-xs-12 pull-left">
        <span class="section_title">Open Positions</span>
        <button ng-click="vm.openAddNewModal()" class="pull-right btn btn-success"> <i class="glyphicon glyphicon-plus
"></i> Add</button>
    </div>
    <div class="col-md-3  col-xs-12 pull-right">
        <input type="text" ng-model="search" class="form-control search" placeholder="Search position">
    </div>
</div>
<div class="row">
    <div class="info-block" ng-repeat="position in vm.positions | filter : search ">
        <h1><i class="glyphicon glyphicon-user"></i>  {{position._id}} - {{position.position_name}}</h1>
        <p><strong>Position purpose: </strong>{{position.purpose}}</p>
        <p><strong>Responsibilities: </strong> {{position.responsibilities}} </p>
        <p><strong>Qualifications: </strong>{{position.qualifications}}</p>
        <button class="pull-right btn btn-danger mobile-buttons" ng-click="vm.openDeleteModal(position._id)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
        <button class="pull-right btn btn-info mobile-buttons" ng-click="vm.openEditModal(position)"> <i class="glyphicon glyphicon-pencil"></i> Edit</button>
    </div>
</div>